*{
    padding:0;
    margin:0;
}

body{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:darkblue;
}

main{
    display:flex;
    flex-direction:column;   
    background-color:lightblue;
    width: 600px;
}

button{
    width:80%;
    height:2rem;
    border-radius:15px;
    position:relative;
    left:35px;
}

h1, p, button{
    margin:10px;
}

p{
    text-align:center;
    font-size:4rem;
    color:white;
}

div{
    display:flex;
    justify-content:center;
}

.fa-solid{
    font-size: 6rem;
    display:flex;
    text-align:center;
    margin-top:10px;
}